.page-home {

  .map,
  .map-base {
    height: 50vh;
  }

  main {
    padding: 0;
  }

}

.home-start {

  font-size: 1.2em;
  padding-top: 4em;
  padding-bottom: 4em;

  h2 {

    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }

  }

  p {
    margin-bottom: 1.2em;
  }

  pre {
    margin-bottom: 1.5em;
  }

  ul {
    list-style: none;
  }

  li {
    margin: 1em 0;
  }

}