header {

  width: 100%;
  color: $white;
  background-color: $grey-900;

  .container {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    line-height: 2.5em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    color: $grey-500;
    text-decoration: none;
    padding: 0 .5em;
  }

  h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
  }

}