.map {

  position: relative;

  &,
  .map-base {

    width: 100%;
    height: 100%;
    background: $map-background;

    .leaflet-control-attribution {

      color: $blue-grey-400;
      background-color: darken($map-background, 5);

      a {
        color: #009ddb;
      }

    }

  }

}

.map-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $blue-grey-200;
  font-family: $font-default;
  width: 100%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  margin: auto;
}

.map-marker {

  &[class*="shadow"] {
    filter: blur(5px);
    opacity: .7;
  }

}

.icon-marker {

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3.6em;
  height: 3.6em;
  font-size: .7em;
  font-weight: bold;
  background-color: $red-800;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, .9);

  @media(hover: hover) and (pointer: fine) {
    &:hover {
      .icon-marker-tooltip {
        display: block;
      }
    }
  }

}

.icon-marker-tooltip {

  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4em;
  padding: 1em;
  background-color: $blue-grey-900;
  border-radius: .4em;
  margin-bottom: 1em;
  box-shadow: 0 3px 5px rgba(black, .9);

  &:before {
    display: block;
    position: absolute;
    bottom: -.6em;
    left: 50%;
    content: '';
    width: 1.4em;
    height: 1.4em;
    background-color: $blue-grey-900;
    transform: rotate(45deg);
    margin-left: -.7em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: .1em;
    margin-top: 0;
  }

  h3 {
    font-size: 1.2em;
    margin: .1em 0;
    font-weight: normal;
    color: $blue-grey-100;
  }

  ul,
  p {
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: .6em 0 0;
  }

}